The Three Body Problem, Cixin Liu
The Stars My Destination, Alfred Bester
Foundation, Isaac Asimov

| Title                                 | Author                               |
|---------------------------------------|--------------------------------------|
| The Three Body Problem                | Cixin Liu                            |
| The Stars My Destination              | Alfred Bester                        |
| Foundation                            | Isaac Asimov                         |
