Kilgore Trout, 30, true, 18, 35
Billy Pilgrim, 20, false, 5, 7
Mandarax, 3, true, 10, 0

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<<<<↘↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↙>>
<<<<→vvvvvvvvv|vvvvvvvvv|vvvvvvvv|vvvvvvvv←>>
<<<<→>>>>Kil<<|>>>>30 <<|>>>>tr<<|>>>>Vi<<←>>
<<<<→>>>>gor<<|>>>>   <<|>>>>ue<<|>>>>si<<←>>
<<<<→>>>>e T<<|>>>>   <<|>>>>  <<|>>>>ts<<←>>
<<<<→>>>>rou<<|>>>>   <<|>>>>  <<|>>>>: <<←>>
<<<<→>>>>t  <<|>>>>   <<|>>>>  <<|>>>>18<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>Tr<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>an<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>sf<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>er<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>s:<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>> 3<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>5 <<←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<↦---------↺---------↺--------↺--------↤>>
<<<<→vvvvvvvvv|vvvvvvvvv|vvvvvvvv|vvvvvvvv←>>
<<<<→>>>>Bil<<|>>>>20 <<|>>>>fa<<|>>>>Vi<<←>>
<<<<→>>>>ly <<|>>>>   <<|>>>>ls<<|>>>>si<<←>>
<<<<→>>>>Pil<<|>>>>   <<|>>>>e <<|>>>>ts<<←>>
<<<<→>>>>gri<<|>>>>   <<|>>>>  <<|>>>>: <<←>>
<<<<→>>>>m  <<|>>>>   <<|>>>>  <<|>>>>5 <<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>Tr<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>an<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>sf<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>er<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>s:<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>> 7<<←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<↦---------↺---------↺--------↺--------↤>>
<<<<→vvvvvvvvv|vvvvvvvvv|vvvvvvvv|vvvvvvvv←>>
<<<<→>>>>Man<<|>>>>3  <<|>>>>tr<<|>>>>Vi<<←>>
<<<<→>>>>dar<<|>>>>   <<|>>>>ue<<|>>>>si<<←>>
<<<<→>>>>ax <<|>>>>   <<|>>>>  <<|>>>>ts<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>: <<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>10<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>Tr<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>an<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>sf<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>er<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>>s:<<←>>
<<<<→>>>>   <<|>>>>   <<|>>>>  <<|>>>> 0<<←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<→^^^^^^^^^|^^^^^^^^^|^^^^^^^^|^^^^^^^^←>>
<<<<↗↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↖>>
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<<<<↘↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↙>>
<<<<→vvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Kilgore Trou<<|>>>>30         <<|>>>>true       <<|>>>>Visits: 18 <<←>>
<<<<→>>>>t           <<|>>>>           <<|>>>>           <<|>>>>Transfers: <<←>>
<<<<→>>>>            <<|>>>>           <<|>>>>           <<|>>>>35         <<←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<↦------------------↺-----------------↺-----------------↺-----------------↤>>
<<<<→vvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Billy Pilgri<<|>>>>20         <<|>>>>false      <<|>>>>Visits: 5  <<←>>
<<<<→>>>>m           <<|>>>>           <<|>>>>           <<|>>>>Transfers: <<←>>
<<<<→>>>>            <<|>>>>           <<|>>>>           <<|>>>>7          <<←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<↦------------------↺-----------------↺-----------------↺-----------------↤>>
<<<<→vvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Mandarax    <<|>>>>3          <<|>>>>true       <<|>>>>Visits: 10 <<←>>
<<<<→>>>>            <<|>>>>           <<|>>>>           <<|>>>>Transfers: <<←>>
<<<<→>>>>            <<|>>>>           <<|>>>>           <<|>>>>0          <<←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^←>>
<<<<↗↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↖>>
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<<<<↘↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↙>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Kilgore Trout         <<|>>>>30                   <<|>>>>true                 <<|>>>>Visits: 18           <<←>>
<<<<→>>>>                      <<|>>>>                     <<|>>>>                     <<|>>>>Transfers: 35        <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦----------------------------↺---------------------------↺---------------------------↺---------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Billy Pilgrim         <<|>>>>20                   <<|>>>>false                <<|>>>>Visits: 5            <<←>>
<<<<→>>>>                      <<|>>>>                     <<|>>>>                     <<|>>>>Transfers: 7         <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦----------------------------↺---------------------------↺---------------------------↺---------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Mandarax              <<|>>>>3                    <<|>>>>true                 <<|>>>>Visits: 10           <<←>>
<<<<→>>>>                      <<|>>>>                     <<|>>>>                     <<|>>>>Transfers: 0         <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↗↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↖>>
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv