Kilgore Trout, 30, true, 18, 35
Billy Pilgrim, 20, false, 5, 7
Mandarax, 3, true, 10, 0

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<<<<↘↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↙>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvv|vvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Kilgore Trout       <<|>>>>30 <<|>>>>tru<<|>>>>Visits: 18                    <<←>>
<<<<→>>>>                    <<|>>>>   <<|>>>>e  <<|>>>>Transfers: 35                 <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦--------------------------↺---------↺---------↺------------------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvv|vvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Billy Pilgrim       <<|>>>>20 <<|>>>>fal<<|>>>>Visits: 5                     <<←>>
<<<<→>>>>                    <<|>>>>   <<|>>>>se <<|>>>>Transfers: 7                  <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦--------------------------↺---------↺---------↺------------------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvvvvvvv|vvvvvvvvv|vvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Mandarax            <<|>>>>3  <<|>>>>tru<<|>>>>Visits: 10                    <<←>>
<<<<→>>>>                    <<|>>>>   <<|>>>>e  <<|>>>>Transfers: 0                  <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^^|^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↗↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↖>>
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<<<<↘↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↧↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↙>>
<<<<→vvvvvvvvvvvvvvvvvvvvv|vvvvvvvv|vvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Kilgore Trout  <<|>>>>30<<|>>>>true <<|>>>>Visits: 18          <<←>>
<<<<→>>>>               <<|>>>>  <<|>>>>     <<|>>>>Transfers: 35       <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦---------------------↺--------↺-----------↺--------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvv|vvvvvvvv|vvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Billy Pilgrim  <<|>>>>20<<|>>>>false<<|>>>>Visits: 5           <<←>>
<<<<→>>>>               <<|>>>>  <<|>>>>     <<|>>>>Transfers: 7        <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↦---------------------↺--------↺-----------↺--------------------------↤>>
<<<<→vvvvvvvvvvvvvvvvvvvvv|vvvvvvvv|vvvvvvvvvvv|vvvvvvvvvvvvvvvvvvvvvvvvvv←>>
<<<<→>>>>Mandarax       <<|>>>>3 <<|>>>>true <<|>>>>Visits: 10          <<←>>
<<<<→>>>>               <<|>>>>  <<|>>>>     <<|>>>>Transfers: 0        <<←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<→^^^^^^^^^^^^^^^^^^^^^|^^^^^^^^|^^^^^^^^^^^|^^^^^^^^^^^^^^^^^^^^^^^^^^←>>
<<<<↗↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↥↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↖>>
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv